.prc-inspector-popover {
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }
  &-eventTrace {
    &-controller {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--semi-color-bg-0);
    }
  }
  &-tabpane {
    position: relative;
    overflow: overlay;
    max-height: 60vh;
  }
  &-display-item {
    animation: displayItemInitialize 0.5s;
  }
}

@keyframes displayItemInitialize {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(0, 160, 210, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
